<!--
  Generated template for the BookDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>-->
  <!--</ion-navbar>-->

  <ion-toolbar>

    <ion-buttons left>

      <button menuToggle ion-button icon-only color="royal">
        <img src="assets/img/{{reviewer?.username}}.jpg" style="max-width: 1.8em; border-radius: 50%">
      </button>
    </ion-buttons>

    <ion-title>j Books</ion-title>






    <ion-buttons end>
      <!--<button ion-button icon-only color="royal">-->
      <!--<ion-icon name="share"></ion-icon>-->
      <!--</button>-->
      <!--<button ion-button icon-only color="royal">-->
      <!--<ion-icon name="heart"></ion-icon>-->
      <!--</button>-->
      <button ion-button icon-only color="royal" (click)="getReviewInput()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>



  </ion-toolbar>

</ion-header>


<ion-content>


  <ion-list>

    <div *ngIf="!(reviewsO$ | async) || _readed" class="portion loading-portion">
      <blockquote text-wrap>In anim sit esse nulla. Occaecat quis in magna voluptate id exercitation goltha motje.
        <br>
        <span class="portion-author-book">—Tyloma Matio,
          <span>Bratala Matio Saver</span>
        </span>
      </blockquote>

      <p *ngIf="!(reviewsO$ | async)" class="_ml5">
        <span class="_text-wrapper">
          <span class="_line _line1"></span>
        </span>
      </p>

    </div>
    <div *ngFor="let reviews of reviewsO$ | async">
      <review-holder [reviews]="reviews"></review-holder>
    </div>
  </ion-list>
</ion-content>
